header{
    height: 90px;
    background-color: rgb(4, 4, 46);
    width: 100vw;
    position: fixed;
    top: 0px;
    color: azure;
    text-align: center;
    font-family: 'Cinzel', serif;
    flex-direction: initial;
    font-size: x-large;
}
body{
    background-image: url("/Users/paruldiwakar/Desktop/exoplanet.jpg");
    background-size: auto;
}

section#left{
    font-family: 'Cinzel', serif;
    color: azure;
}

button.prettyButton{
    background-color: rgb(4, 4, 46) ;
    border: 4px rgb(90, 90, 90) solid;
    margin: 20px 70px;
    color: #ffffff;
    padding: 10px;
    font-size: 110%;
    position: relative;
    background-position-x: left;
    display: block;
    height: 50px;
    width: 100px;
    text-align: center;
}
button.prettyButton span{
    font-size: 100px;
}
button.prettyButton:hover{
    background-color: white;
    color: rgb(4, 4, 46);
    border: 4px black;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
}
button.prettyButton:hover span{
    font-size: 100%;
}
button.prettyButton:active{
    background-color:black;
    border: 4px rgb(90, 90, 90) solid;
    color: #ffffff;
}

.feet{
  position: fixed;
  left: 0;
  height: 77px;
  bottom: 0;
  width: 100%;
  background-color: rgb(4, 4, 46);
  color: white;
  text-align: center;
}

